@import "../../css/Colors.scss";

.login-page-wrapper :global {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $black;

  .signin-text{
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: $white;
  }

  .input-feedback {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    line-height: normal;
    color: #fff;
    opacity: .65;
    position: relative;
    bottom: -2px;
    left: 11px;
    letter-spacing: 1px;
    min-height: 36px;
    text-align: left;
  }

  .ant-form {
    .anticon{
      color: $login-btn;
      position: absolute;
      top: 7px;
      left: -10px;
    }
    .ant-input-affix-wrapper {
      background: none;
      border: none;
      box-shadow: none;

      &:focus {
        background: none;
        border: none;
        box-shadow: none;
      }

      &:focus-within {
        background: none;
        border: none;
        box-shadow: none;
      }

      &:visited {
        background: none;
        border: none;
        box-shadow: none;
      }

      &:active {
        background: none;
        border: none;
        box-shadow: none;
      }

      &:hover {
        background: none;
        border: none;
        box-shadow: none;
      }
    }
    .ant-input-suffix {
      margin-left: -20px;
    }
    .ant-form-item{
      min-height: 70px;
    }
  }

  .button-wrapper{
    display: flex;
    justify-content: center;
    .button {
      width: 150px;
      height: 48px;
      margin-top: 76px;
      overflow: hidden;
      position: relative;
      color: $white;
      background: transparent;
      border: none;
      opacity: .6;
      cursor: pointer;
      &:disabled{
        &:before{
          opacity: .4;

        }
        cursor: not-allowed;
      }
      .btn-txt{
        position: relative;
        top: -186px;
        font-size: 14px;
        color: $black;
      }
      &:hover{
        opacity: 1;
      }
      &:focus{
        border: none;
        outline: none;
      }
      &:active{
        border: none;
      }
    }

    .button::before {
      content: '';
      display: block;
      background: $login-btn;
      width: 188px;
      height: 200px;
      transform: rotate(45deg);
      position: relative;
      top: -100px;
      right: 50px;
    }

    .button::after {
      content: "";
      display: block;
      background: #202020;
      width: 188px;
      height: 200px;
      transform: rotate(45deg);
      position: relative;
      top: -436px;
      right: 108px;
    }

  }
}
